* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
}

html,
body,
#root,
.App {
    height: 100%;
    width: 100%;
}

.load-error {
    background-image: url(./icons/map-error.png);
    background-position: center;
    background-size: auto;
    background-repeat: no-repeat;
}

.header {
    position: relative;
    display: flex;
    align-items: center;
    background: rgb(241, 240, 237);
    text-align: center;
    height: 2.5em;
}

.header-title {
    font-family: 'Cinzel', serif;
    font-size: 1.5em;
    /* position: relative;
    width: calc(100% - 9rem);
    margin-left: 2rem;
    margin-right: 10rem; */
    color: transparent;
    text-shadow: -1px -1px 0px black, 1px 1px 2px grey;

    position: absolute;
    width: 100%;
}

.header-shadow {
    background: transparent;
    width: 100%;
    height: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    box-shadow: 0 -10px 20px 5px black;
    z-index: 2;
}

.btn:hover {
    cursor: pointer;
}

.filter-input:focus,
.btn:focus {
    box-shadow: 0 0 0.5em 0.2em lightblue;
}

.btn:active {
    box-shadow: inset 0 0 0.5em 0.2em rgba(0, 0, 0, 0.5);
    font-size: 80%;
}

.filter-btn {
    font-weight: bold;
    position: relative;
    width: 8rem;
    margin-left: 1rem;
    height: 70%;
    border-radius: 1rem;
    outline: none;
    background: white;
    z-index: 3;
    line-height: 1em;
}

.filter-btn.filtered-true {
    background: rgba(255, 212, 0, 0.212);
    overflow: visible;
}

.filter-indicate-false {
    display: none;
}

.filter-indicate-true {
    display: inline-block;
    position: absolute;
    right: -3px;
    top: -3px;
    font-size: 1.2em;
    color: #FFD400;
    text-shadow: 0 0 3px black,
                 0 0 3px black,
                 0 0 3px black,
                 0 0 3px black;
}

.filter-page {
    position: absolute;
    background: hsl(40, 15%, 94%);
    top: 100%;
    left: 0;
    width: 300px;
    z-index: 1;
    opacity: 0;
    visibility: hidden;
    transition: 0.25s ease-in-out;
    border-radius: 0 0 0.5em;
    padding-bottom: 0.5em;
    border-bottom: 1px solid gray;
    border-right: 1px solid gray;
    overflow: auto;
    direction: rtl;
    max-height: 450px;
}

.visible {
    opacity: 0.95;
    visibility: visible !important;
}

.filter-places-input-wrapper {
    background: hsl(40, 15%, 94%);
    border-bottom: 3px double lightgray;
    padding: 1em 0 1em;
    display: flex;
    align-items: center;
    justify-content: center;
    direction: ltr;
    position: sticky;
    top: 0;
}

.filter-input {
    width: 95%;
    height: 2em;
    border-radius: 0.25em;
    padding: 0 0.5em;
    outline: none;
}

.clear-btn {
    height: 1.2rem;
    width: 1.2rem;
    position: absolute;
    right: calc(2.5% + 0.2rem);
    background: transparent;
    border: none;
    outline: none;
}

.clear-btn:focus {
    border: 1px solid lightblue;
}

.clear-btn:hover {
    font-weight: bold;
    cursor: pointer;
}

.clear-btn:active {
    font-size: 60%;
    box-shadow: inset 0 0 0.25em 0.1em rgba(0, 0, 0, 0.5);
}

.location-btn-wrapper {
    direction: ltr;
    border-bottom: 1px dotted lightgray;
}

.location-btn {
    background: rgb(241, 240, 237);
    border: none;
    width: 95%;
    height: 1.75rem;
    margin: 0.35rem 0;
    outline: none;
    border-radius: 0.25em;
}

.location-btn:hover {
    background: white;
    box-shadow:inset 0px 0px 0px 1px lightblue;
}

.location-btn span {
    display: inline-block;
    margin-right: calc(270px - 100%);
}

#map {
    width: 100%;
    height: calc(100% - 2.5em);
}

.custom-iw-parent {
    display: flex;
    justify-content: center;
    align-items: center;
}

.custom-iw {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: visible !important;
    position: relative !important;
    top: 0 !important;
    left: 0 !important;
}

.header-iw {
    text-align: center;
    background: linear-gradient(90deg, transparent,
                                    rgba(173, 216, 230, 0.6) 10%,
                                    rgba(173, 216, 230, 0.6) 90%,
                                    transparent);
    border-top: 1px solid lightblue;
    border-bottom: 1px solid lightblue;
    margin-bottom: 5px;
    width: 100%;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    line-height: 1.5em;
}

.header-iw .refresh-btn {
    font-size: 1.25em;
    position: absolute;
    left: -1em;
    height: 1.5em;
    width: 1.5em;
    padding: 0.25em;
    box-sizing: initial;
    background: transparent;
    border: none;
    border-radius: 100%;
    outline: none;
    cursor: pointer;
    display: none;
    font-weight: bold;
    line-height: 1.5em;
}

.refresh-btn.visible:hover {
    color: black;
}

.refresh-btn.visible {
    animation: cubic-bezier(0.15, 1.15, 0, 1.01) 4s 3 rotate ,
                cubic-bezier(0.15, 1.15, 0, 1.01) 4s 3 blink;
    display: initial;
    color: gray;
}

.figure-iw-parent {
    text-align: center;
    overflow: visible !important;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.figure-iw-grandparent {
    overflow: visible !important;
}

.figure-iw {
    position: relative;
    overflow: visible;
}

.img-iw {
    max-width: 100% !important;
    max-height: 250px !important;
}

.credit {
    visibility: hidden;
    color: lightgray;
    font-style: italic;
    text-align: left;
    margin-bottom: 1em;
    writing-mode: vertical-lr;
    position: absolute;
    height: calc(100% - 1em);
    width: 1.2em;
    display: block;
    bottom: 0;
    right: -1.2em;
    transform: rotate(180deg);
}

.credit a {
    color: inherit;
    text-decoration: underline dotted;
}

.credit a:hover {
    color: initial;
}

.img-iw.loading {
    width: 200px;
    padding: 50px;
    animation: rotate 1s ease-in-out infinite;
}

@keyframes rotate {
    to {
        transform: rotate(360deg);
    }
}

@keyframes blink {
    0% {
         box-shadow: none;
         color: black;
    }

    5% {
         box-shadow: inset 0 0 10px 10px rgba(255, 166, 0, 0.5),
                    0 0 10px 0 rgba(255, 166, 0, 0.5);
    }

    50% {
         box-shadow: none;
    }

    100% {
        color: black;
    }
}

@media screen and (max-height: 460px) {
    .filter-page {
        max-height: 270px;
    }
}

@media screen and (max-width: 770px) {
    .header-title {
        font-size: 1em;
    }
}

@media screen and (max-width: 650px) {
    .load-error {
        background-size: contain;
        background-repeat: no-repeat;
    }

    .header-title {
        text-align: right;
        right: 1rem;
    }

    .filter-btn {
        width: 6rem;
    }
}

@media screen and (max-width: 450px) {
    .header-title {
        font-size: 0.9em;
        width: calc(100% - 10rem);
    }
}