* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

html,
body,
#root,
.App {
	height: 100%;
	width: 100%;
}

.header {
  background: whitesmoke;
  text-align: center;
  height: 2.5em;
}

#map {
  width: 100%;
  height: calc(100% - 2.5em);
}
